// Fonts
@import url('https://fonts.googleapis.com/css?family=Nunito');

// Variables
@import 'variables';

// Bootstrap
@import '~bootstrap/scss/bootstrap';

.list-group-item > .label {
    margin-right: 1em;
}

.CommunityLink > form {
    display: inline-block;
    margin-right: 1em;
}
